<% content_for :side_nav do %>
  <%= render 'admin/application/side_nav', page: 'calendars' %>
<% end %>

<% content_for :main do %>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="list-group list-group-flush">
          <% @donations.each do |donation| %>
            <div class="list-group-item list-group-item-striped">
              <div class="row">
                <div class="col-3">
                  <%= donation.user.full_name %>
                </div>
                <div class="col-3">
                  $<%= donation.donation_date %>
                </div>
                <div class="col-3 text-muted">
                  <%= donation.donor_name ? donation.donor_name : 'Anonymous' %>
                </div>
                <div class="col-3 text-muted">
                  <%= donation.created_at %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>