<h1>Calendar Fundraiser</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
  <div class="card green-gradient">
    <div class="flex flex-col">
      <div class="card-title text-green-200">TOTAL</div>
      <span class="text-3xl text-white font-extrabold font-mono mb-0.5">$<%= @total %></span>
    </div>
  </div>

  <div class="card-flat border-ocean">
    <div class="flex flex-col">
      <div class="card-title text-gray-700 dark:text-gray-300">COMPLETED CALENDARS</div>
      <span class="text-3xl text-gray-700 dark:text-white font-extrabold font-mono"><%= @completed_fundraisers %></span>
    </div>
  </div>
</div>

<div class="flex flex-col">
  <table class="custom-table">
    <thead>
      <th scope="col" class="table-header">Name</th>
      <th scope="col" class="table-header text-center">Completed</th>
      <th scope="col" class="table-header-right">Current Donations</th>
    </thead>
    <tbody class="table-body">
      <% @members.sort_by(&:full_name).each do |member| %>
        <% completed = member.calendar_fundraisers.select(&:completed?).count %>
        <% current = member.calendar_fundraisers.reject(&:completed?).last %>
        <tr>
          <td class="table-cell flex flex-col">
            <div class="font-medium"><%= member.full_name %></div>
            <div class="font-light">$<%= member.calendar_fundraisers.sum(&:total_donations) %></div>
          </td>
          <td class="table-cell text-center">
            <% if completed > 0 %>
              <span class="w-min bg-green-100 text-green-600 rounded-full text-sm font-medium px-3 py-1"><%= completed %></span>
            <% end %>
          </td>
          <td class="table-cell text-right">
            <% if current.present? %>
              <span class="font-medium"><%= current.donations.map(&:donation_date).sort.join(', ') %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
