<%= vite_typescript_tag 'entrypoints/admin/index.tsx' %>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

  <!-- DUES EXPECTED / NEXT EVENT -->
  <div class="order-1 h-48 md:h-96 xl:h-48 flex flex-col">
    <%= link_to admin_payments_path, class: 'card-flat flex-grow border-gray-300 group hover:shadow-md hover:border-transparent hover:bg-gradient-to-br hover:from-green-500 hover:to-green-700 flex flex-col sm:flex-row md:flex-col justify-between place-content-stretch transition' do %>
      <div class="flex flex-col md:h-1/2 justify-center">
        <span class="card-title font-bold group-hover:text-green-200 transition">Dues as of <%= Date.today.strftime('%-m/%-d') %></span>
        <span class="card-title text-gray-500 group-hover:text-green-200 transition">
          DUES OWED
        </span>
        <span class="text-3xl group-hover:text-white font-extrabold font-mono transition">
          <%= number_to_currency(@expected_dues / 100.0) %>
        </span>
      </div>
      <div class="flex flex-col md:h-1/2 justify-center">
        <span class="card-title text-gray-500 group-hover:text-green-200 transition">
          DUES COLLECTED
        </span>
        <span class="text-3xl group-hover:text-white font-extrabold font-mono transition">
          <%= number_to_currency(@actual_dues / 100.0) %>
        </span>
      </div>
    <% end %>

    <div class="card mt-4 gray-gradient group hidden md:block lg:block xl:hidden">
      <div class="card-title text-gray-300">NEXT EVENT</div>
      <div class="flex flex-col">
        <% if @next_event %>
          <span class="text-3xl text-white font-extrabold font-mono mb-0.5"><%= @next_event[:name] %></span>
          <div class="text-gray-300 text-sm font-medium">
            <% if @next_event[:start_date].day == @next_event[:end_date].day %>
              <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%l:%M%P') %>
            <% else %>
              <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%a, %-m/%-d %l:%M%P') %>
            <% end %>
          </div>
        <% else %>
          <span class="text-3xl text-white font-extrabold font-mono mb-0.5">None</span>
        <% end %>
      </div>
    </div>
  </div>
  

  <!-- BEHIND MEMBERS -->
  <div class="order-2 md:order-3 lg:order-2 col-span-1 md:col-span-2 lg:col-span-1 xl:col-span-2 max-h-96 xl:max-h-48 flex flex-col">
    <div class="card-flat border-gray-300 overflow-scroll flex-grow">
      <span class="card-title text-gray-500">BEHIND MEMBERS</span>
      <ul class="divide-y divide-gray-300 dark:divide-gray-600">
        <% @behind_members.each do |member| %>
          <li>
            <%= link_to admin_user_path(member), class: 'px-5 py-4 -mx-5 flex justify-between group hover:bg-gray-300 dark:hover:bg-gray-600' do %>
              <div class="flex flex-col">
                <span class="mb-0.5"><%= member[:name] %></span>
                <% if member[:last_payment] %>
                  <span class="text-sm font-medium text-gray-500 hidden xl:inline">
                    Last paid <%= number_to_currency(member[:last_payment].amount / 100.0) %> on <%= member[:last_payment].date_paid.strftime('%a, %-m/%-d') %>
                  </span>
                <% end %>
              </div>
              <div>
                <span class="bg-red-100 text-red-600 rounded-full text-sm font-medium px-3 py-1">-<%= number_to_currency(member[:behind] / 100.0) %></span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  

  <!-- NEXT EVENT -->
  <div class="card order-3 gray-gradient hidden xl:block">
    <div class="card-title text-gray-300">NEXT EVENT</div>
    <div class="flex flex-col">
      <% if @next_event %>
        <span class="text-3xl text-white font-extrabold font-mono mb-0.5"><%= @next_event[:name] %></span>
        <div class="text-gray-300 text-sm font-medium">
          <% if @next_event[:start_date].day == @next_event[:end_date].day %>
            <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%l:%M%P') %>
          <% else %>
          <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%a, %-m/%-d %l:%M%P') %>
          <% end %>
        </div>
      <% else %>
        <span class="text-3xl text-white font-extrabold font-mono mb-0.5">None</span>
      <% end %>
    </div>
  </div>

  <!-- UPCOMING PAYMENTS -->
  <div class="max-h-48 md:max-h-96 xl:max-h-144 order-3 md:order-2 lg:order-3 overflow-scroll rounded-lg">
    <div id="upcoming-payments">
    </div>
  </div>
  

  <!-- UPCOMING CONFLICTS -->
  <div class="order-5 row-span-2 col-span-1 md:col-span-2 lg:col-span-3">
    <div class="card-flat border-gray-300">
      <span class="card-title text-gray-500">UPCOMING CONFLICTS</span>
      <div id="upcoming-conflicts"></div>
    </div>
  </div>
</div>
