<Hello name="Dan" />

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

  <!-- DUES EXPECTED -->
  <%= link_to admin_payments_path, class: 'p-5 rounded-lg order-1 border border-gray-300 h-44 lg:h-full group hover:shadow-md hover:border-transparent hover:bg-green-600 flex flex-col sm:flex-row md:flex-col justify-between place-content-stretch transition' do %>
    <div class="flex flex-col md:h-1/2 justify-center">
      <span class="text-sm font-medium text-gray-500 group-hover:text-green-200 transition">
        DUES OWED
      </span>
      <span class="text-3xl group-hover:text-white font-extrabold font-mono transition">
        <%= number_to_currency(@expected_dues / 100.0) %>
      </span>
    </div>
    <div class="flex flex-col md:h-1/2 justify-center">
      <span class="text-sm font-medium text-gray-500 group-hover:text-green-200 transition">
        DUES COLLECTED
      </span>
      <span class="text-3xl group-hover:text-white font-extrabold font-mono transition">
        <%= number_to_currency(@actual_dues / 100.0) %>
      </span>
    </div>
  <% end %>

  <!-- BEHIND MEMBERS -->
  <div class="p-5 rounded-lg order-2 md:order-4 lg:order-2 border border-gray-300 col-span-1 xl:col-span-2 max-h-48 h-full overflow-scroll">
    <span class="text-sm font-medium text-gray-500">BEHIND MEMBERS</span>
    <ul class="divide-y divide-gray-100">
      <% @behind_members.each do |member| %>
        <li>
          <%= link_to admin_user_path(member), class: 'px-5 py-4 -mx-5 flex justify-between group hover:bg-red-100' do %>
            <div class="flex flex-col">
              <span class="mb-0.5"><%= member[:name] %></span>
              <% if member[:last_payment] %>
                <span class="text-sm font-medium text-gray-500 group-hover:text-red-400 hidden xl:inline">
                  Last paid <%= number_to_currency(member[:last_payment].amount / 100.0) %> on <%= member[:last_payment].date_paid.strftime('%a, %-m/%-d') %>
                </span>
              <% end %>
            </div>
            <div>
              <span class="bg-red-100 text-red-600 group-hover:bg-red-600 group-hover:text-red-100 rounded-full text-sm font-medium px-3 py-1">-<%= number_to_currency(member[:behind] / 100.0) %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- NEXT EVENT -->
  <div class="p-5 rounded-lg order-3 shadow-md bg-gray-500 group hidden xl:block">
    <div class="text-sm font-medium text-gray-300">NEXT EVENT</div>
    <div class="flex flex-col">
      <span class="text-3xl text-white font-extrabold font-mono mb-0.5"><%= @next_event[:name] %></span>
      <div class="text-gray-300 text-sm font-medium">
        <% if @next_event[:start_date].day == @next_event[:end_date].day %>
          <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%l:%M%P') %>
        <% else %>
          <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%a, %l:%M%P') %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- UPCOMING PAYMENTS -->
  <div class="p-5 rounded-lg order-4 md:order-2 lg:order-4 shadow-md bg-green-600 row-span-2 max-h-96 overflow-scroll">
    <div class="flex flex-col">
      <span class="text-sm font-medium text-green-200">UPCOMING PAYMENTS</span>
      <span class="text-3xl text-white font-extrabold font-mono">
        <%= number_to_currency(@upcoming_payments.sum { |p| p[:amount] } / 100.0) %>
      </span>
    </div>
    <ul class="divide-y divide-green-500">
      <% @upcoming_payments.each do |payment| %>
        <li class="px-5 py-4 -mx-5 flex justify-between">
          <div class="flex flex-col">
            <span class="mb-0.5 text-white"><%= payment[:name] %></span>
            <span class="text-sm font-medium text-green-200 hidden xl:inline">
              <%= payment[:date].strftime('%a, %-m/%-d') %>
            </span>
          </div>
          <div>
            <span class="bg-green-100 text-green-700 rounded-full text-sm font-medium px-3 py-1"><%= number_to_currency(payment[:amount] / 100.0) %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- UPCOMING CONFLICTS -->
  <div class="p-5 rounded-lg order-5 border border-gray-300 row-span-2 col-span-1 md:col-span-2 xl:col-span-3">
    <div class="text-sm font-medium text-gray-500">UPCOMING CONFLICTS</div>
    <% @upcoming_conflicts.each do |conflict| %>
      <div>
        <%= conflict.user.full_name %>
        <%= conflict.start_date %>
        <%= conflict.end_date %>
      </div>
    <% end %>
  </div>

</div>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'admin_home' %>
<% end %>
