<div class="list-group-item list-group-item-striped">
  <div class="d-flex justify-content-between">
    <div>
      <%= conflict.start_date.strftime('%a, %-m/%-d %I:%M %p') %> - <%= conflict.end_date.strftime('%a, %-m/%-d %I:%M %p') %>
    </div>
    <div>
      <a data-toggle="collapse" href="#conflict-reason-<%= conflict.id %>" class="mr-1">
        <i class="far fa-comment dark-text icon-btn icon-btn-blue"></i>
      </a>
      <%= render 'conflict_status_icon', status: conflict.status %>
    </div>
  </div>
  <div class="collapse col-12 px-3 py-1"  id="conflict-reason-<%= conflict.id %>">
    <small class="text-muted"><%= conflict.reason %></small>
  </div>
</div>