<div class="flex flex-col">
  <h1>Whistleblower Report</h1>
  <div class="space-y-4">
    <p>
      Cap City encourages anyone involved with our organization to report any concerns regarding the group without fear of retaliation.  We will respond to your report promptly and to the best of our ability with the information given.  You may choose to remain anonymous by leaving the email section blank and avoiding any personally-identifying information.  Please note that if you wish for the organization to respond to you directly, you will need to provide a name or some sort of contact method for us to get in touch.</p>
      <p>We wish to provide a safe and educational environment for everyone involved with our organization, and consider anything that threatens the well-being of our members or staff to be a very serious matter.  Please try to supply us with enough information to conduct an independent investigation.  Details like times, locations, and anybody else who may have been involved or have knowledge of the situation all help us to look into your claim.  Remember that if you choose to remain anonymous, we will not be able to ask you any further questions, and can only investigate based on the information you provide.
    </p>
    <%= form_tag whistleblowers_path do %>
      <h2>Report</h2>
      <div class="grid grid-cols-5 gap-x-6 gap-y-4">
        <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
          <%= label_tag :email, 'Email', class: 'input-label' %>
        </div>
        <div class="col-span-5 sm:col-span-4 flex flex-col">
          <%= text_field_tag :email, '', class: 'input-text' %>
          <span class="text-sm text-secondary">(leave blank to remain anonymous)</span>
        </div>

        <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
          <%= label_tag :report, 'Please provide details around your concern', class: 'input-label' %>
        </div>
        <div class="col-span-5 sm:col-span-4 flex items-center">
          <%= text_area_tag :report, '', class: 'input-text' %>
        </div>
      </div>

      <div class="mt-4 flex flex-row justify-end">
        <%= submit_tag 'Submit', class: 'btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
