<%= vite_typescript_tag 'entrypoints/files/index.tsx' %>
<%= vite_typescript_tag 'entrypoints/coordinators/index.tsx' %>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

  <div class="space-y-4">
    <!-- NEXT EVENT -->
    <div class="card gray-gradient">
      <div class="card-title text-gray-300">NEXT EVENT</div>
      <div class="flex flex-col">
        <% if @next_event %>
          <span class="text-3xl text-white font-extrabold font-mono mb-0.5"><%= @next_event[:name] %></span>
          <div class="text-gray-300 text-sm font-medium">
            <% if @next_event[:start_date].day == @next_event[:end_date].day %>
              <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%l:%M%P') %>
            <% else %>
              <%= @next_event[:start_date].strftime('%a, %-m/%-d %l:%M%P') %> - <%= @next_event[:end_date].strftime('%a, %-m/%-d %l:%M%P') %>
            <% end %>
          </div>
        <% else %>
          <span class="text-3xl text-white font-extrabold font-mono mb-0.5">None</span>
        <% end %>
      </div>
    </div>

    <div class="card-flat border-gray-500">
      <div class="card-title text-gray-500">FILES</div>
      <div id="files"></div>
    </div>
  </div>
  

  <!-- UPCOMING CONFLICTS -->
  <div class="md:col-span-2">
    <div class="card-flat border-gray-300">
      <span class="card-title text-gray-500">UPCOMING CONFLICTS</span>
      <div id="upcoming-conflicts"></div>
    </div>
  </div>
</div>
