<div class="card">
  <%= form_for @user do |u| %>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 mt-3 form-group">
          <%= u.text_field :first_name, { class: 'form-control', placeholder: 'First Name' } %>
        </div>
        <div class="col-md-6 mt-3 form-group">
          <%= u.text_field :last_name, { class: 'form-control', placeholder: 'Last Name' } %>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6 mt-3 form-group">
          <%= u.text_field :username, { class: 'form-control', placeholder: 'Username' } %>
          <%= u.text_field :email, { class: 'form-control mt-3', placeholder: 'Email' } %>
          
        </div>
        <div class="col-md-6 mt-3 form-group">
          <%= u.password_field :password, { class: 'form-control', placeholder: 'Password' } %>
          <%= u.password_field :password_confirmation, { class: 'form-control mt-3', placeholder: 'Password Confirmation' } %>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-4 form-group">
          <%= u.label :role_id, 'Role' %>
          <%= u.collection_select :role_id, Role.all.reverse_order, :id, :name, {}, { class: 'form-control' } %>
        </div>

        <div class="col-md-4 form-group">
          <label>Section</label>
          <%= u.text_field :section, { class: 'form-control', placeholder: 'Section' } %>
        </div>

        <div class="col-md-4 form-group">
          <label>Seasons Marched</label>
          <%= u.collection_check_boxes :season_ids, Season.all, :id, :year do |y| %>
            <div class="form-check">
              <%= y.check_box class: 'form-check-input' %>
              <%= y.label class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row justify-content-center">
        <%= u.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>