<% content_for :styles do %>
  <%= stylesheet_link_tag 'users', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Edit <%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class="col-md-3 text-right">
      <a class="btn btn-info" href="<%= users_path %>">All Users</a>
    </div>
  </div>

  <%= render 'form', user: @user %>
<% end %>