<% content_for :styles do %>
  <%= stylesheet_link_tag 'users', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-text">Settings</h1>
      </div>
    </div>
    <div class="card">
      <%= form_tag '/settings', { method: :post, class: 'card-body' } do %>
        <div class="row">
          <div class="col-sm-12">
            <h3>Change Password</h3>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <%= password_field_tag :old_password, nil, { class: 'form-control', placeholder: 'Old Password' } %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <%= password_field_tag :new_password, nil, { class: 'form-control', placeholder: 'New Password' } %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <%= password_field_tag :new_password_confirmation, nil, { class: 'form-control', placeholder: 'New Password Confirmation' } %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 text-center">
            <%= submit_tag 'Save', { class: 'btn btn-success' } %>
          </div>
        </div>

        
      <% end %>
    </div>
  </div>
<% end %>