<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="flex flex-col mb-4">
    <%= f.label :password, 'New password', class: 'input-label' %>
    <% if @minimum_password_length %>
      <span class="italic">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'input-text' %>
  </div>

  <%= f.label :password_confirmation, 'Confirm new password', class: 'input-label mt-4' %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-text' %>

  <div class="p-4 flex justify-center">
    <%= f.submit 'Change my password', class: 'btn-primary btn-lg' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
