<% content_for :styles do %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
<% end %>

<% content_for :main do %>
  <% status = current_user.dues_status_okay?(current_season['id']) %>
  <% color = (status ? 'success' : 'danger') %>
  <div class="row">
    <div class="col-md-7">
      <div class="card border-<%= color %>">
        <div class="card-header  border-<%= color %>">
          <h2>
            Payments
            <a href="/payments/new" class="pull-right btn btn-outline-<%= color %>">
              <i class="fa fa-plus"></i>
            </a>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 text-center text-<%= color %>">
              <p class="lead">Paid $<%= '%.2f' % @total_paid %>&nbsp;&nbsp;/&nbsp;&nbsp;$<%= '%.2f' % @total_dues %> Owed
              <div class="progress" style="height: 30px">
                <div class="progress-bar <%= status ? 'green' : 'red' %>" role="progressbar" style="width: <%= 100 * @total_paid.to_f / @total_dues.to_f %>%"></div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <%= render 'payments_made_card', member: current_user, status: status %>
            </div>

            <div class="col-sm-12 mt-3 d-md-none">
            </div>

            <div class="col-md-6">
              <%= render 'payment_schedule_card', member: current_user, status: status, admin: false %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card border-secondary">
        <div class="card-header border-secondary">
          <h2>
            Conflicts
            <a href="/conflicts/new" class="pull-right btn btn-outline-secondary">
              <i class="fa fa-plus"></i>
            </a>
          </h2>
        </div>

        <div class="list-group list-group-flush">
          <% @conflicts.each do |conflict| %>
            <%= render 'member_conflict_row', conflict: conflict %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%#= javascript_include_tag 'vue/activity_feed' %>
<% end %>
