<li class="nav-item">
  <% cl = (page == 'home' ? 'nav-link active' : 'nav-link') %>
  <%= link_to root_path, { class: cl } do %>
    <i class="fas fa-fw fa-home mr-2"></i>
    <span class="d-none d-md-inline">Home</span>
  <% end %>
</li>
<li class="nav-item">
  <% cl = (page == 'users' ? 'nav-link active' : 'nav-link') %>
  <%= link_to admin_users_path, { class: cl } do %>
    <i class="fas fa-fw fa-users mr-2"></i>
    <span class="d-none d-md-inline">Users</span>
  <% end %>
</li>
<li class="nav-item">
  <% cl = (page == 'conflicts' ? 'nav-link active' : 'nav-link') %>
  <%= link_to admin_conflicts_path, { class: cl } do %>
    <i class="fas fa-fw fa-calendar-times mr-2"></i>
    <span class="d-none d-md-inline">Conflicts</span>
  <% end %>
</li>
<li class="nav-item">
  <% cl = (page == 'payments' ? 'nav-link active' : 'nav-link') %>
  <%= link_to admin_payments_path, { class: cl } do %>
    <i class="fas fa-fw fa-dollar-sign mr-2"></i>
    <span class="d-none d-md-inline">Payments</span>
  <% end %>
</li>
<li class="nav-item">
  <% cl = (page == 'documents' ? 'nav-link active' : 'nav-link') %>
  <%= link_to documents_path, { class: cl } do %>
    <i class="fas fa-fw fa-file-alt mr-2"></i>
    <span class="d-none d-md-inline">Documents</span>
  <% end %>
</li>
<li class="nav-item">
  <% cl = (page == 'inventory' ? 'nav-link active' : 'nav-link') %>
  <%= link_to inventory_categories_path, { class: cl } do %>
    <i class="fas fa-fw fa-exchange-alt mr-2"></i>
    <span class="d-none d-md-inline">Inventory</span>
  <% end %>
</li>