<div id="omni-bar">
  <omni-bar></omni-bar>
</div>
<ul class="navbar-nav navbar-right">
  <li class="nav-item">
    <%= link_to settings_path, { class: 'nav-link mr-3' } do %>
      <span class="d-none d-md-inline"><i class="fas fa-cogs"></i></span>
      <span class="d-md-none">Settings</span>
    <% end %>
  </li>
  <li class="nav-item dropdown">
    <a class="btn btn-outline-dark dropdown-toggle mr-3" href="#" id="season-dropdown" data-toggle="dropdown">
      <%= current_season ? current_season['year'] : '???' %>
    </a>
    <div class="dropdown-menu" aria-labelledby="season-dropdown">
      <% Season.all.reverse.each.with_index do |s, i| %>
        <% if i == 0 %>
          <h6 class="dropdown-header">Current</h6>
        <% elsif i == 1 %>
          <h6 class="dropdown-header">Past</h6>
        <% end %>
        <%= form_tag(change_season_path, method: :post) do %>
          <%= hidden_field_tag :season_id, s.id, { id: "season_id_#{s.id}" } %>
          <%= submit_tag "#{s.year}", class: 'dropdown-item' %>
        <% end %>
      <% end %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to 'Log Out', logout_path, { class: 'btn btn-outline-dark' } %>
  </li>
</ul>
