<% content_for :main do %>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h1>New Item</h1>
      <%= link_to 'Back', inventory_categories_path, class: 'btn btn-light mt-1' %>
    </div>
  </div>

  <div class="card">
    <%= form_with model: [@category, @item], url: inventory_category_items_path(@category), html: { class: 'card-body' } do |f| %>
      <div class="row">
        <div class="col-sm-12 form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-sm-12 form-group">
          <%= f.label :quantity %>
          <%= f.text_field :quantity, class: 'form-control' %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12 form-group text-center">
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
