<div class="flex flex-col">
  <h1>New Item</h1>
</div>

<%= form_with model: [@category, @item], url: inventory_category_items_path(@category) do |f| %>
  <div class="grid grid-cols-5 gap-x-6 gap-y-4">
    <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
      <%= f.label :name, class: 'input-label' %>
    </div>
    <div class="col-span-5 sm:col-span-4 flex items-center">
      <%= f.text_field :name, class: 'input-text' %>
    </div>

    <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
      <%= f.label :quantity, class: 'input-label' %>
    </div>
    <div class="col-span-5 sm:col-span-4 flex items-center">
      <%= f.number_field :quantity, class: 'input-text' %>
    </div>
  </div>

  <div class="mt-4 flex flex-row justify-end">
    <%= f.submit 'Submit', class: 'btn-primary btn-lg' %>
  </div>
<% end %>
