<div class="flex flex-col">
  <h1><%= @item.name %> History</h1>

  <ul class="divide-y divide-gray-100">
    <li class="p-4 flex text-secondary">
      Current: <%= @item.quantity %>
    </li>
    <% @item.transactions.order('performed_on desc, created_at desc').each do |t| %>
      <li class="p-4 flex justify-between items-start">
        <div class="flex flex-col">
          <span class="font-medium">
            <%= t.previous_quantity + t.change %>
          </span>
          <span class="text-gray-500 text-sm">
            <%= t.performed_on.strftime('%a, %-m/%-d') %>
          </span>
        </div>

        <% if t.change > 0 %>
          <span class="w-min bg-green-100 text-green-600 rounded-full text-sm font-medium px-3 py-1">
            <%= t.change %>
          </span>
        <% else %>
          <span class="w-min bg-red-100 text-red-600 rounded-full text-sm font-medium px-3 py-1">
            <%= t.change %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
