<% content_for :main do %>
  <div id="root" class="content">
  </div>

  <script type="text/javascript">
    var stripePk = '<%= @stripe_public_key %>';
  </script>

  <%= vite_typescript_tag 'entrypoints/calendars/new.tsx' %>


  <%= form_with model: @donation, url: '/calendars', method: :post, html: { id: 'calendar-form' } do |f| %>
    <%= f.hidden_field :user_id, id: 'donation_user_id' %>
    <%= f.hidden_field :dates, id: 'donation_dates' %>
    <%= f.hidden_field :amount, id: 'donation_amount' %>
    <%= f.hidden_field :donor_name, id: 'donation_donor_name' %>
    <%= f.hidden_field :stripe_token, id: 'donation_stripe_token' %>
  <% end %>
<% end %>
