<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Payments</h1>
    </div>
    <div class="col-md-3 text-right-md">
      <%= link_to 'New Payment', new_payment_path, class: 'btn btn-light green-text align-middle' %>
    </div>
  </div>

  <div class="row">
    <div  class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-fill nav-tabs">
            <li class="nav-item">
              <a class="nav-link active info-tab" href="#differential-chart">Differential</a>
            </li>
            <li class="nav-item">
              <a class="nav-link info-tab" href="#burndown-chart">Burndown</a>
            </li>
            <li class="nav-item">
              <a class="nav-link info-tab" href="#upcoming-list">Upcoming</a>
            </li>
          </ul>

          <div id="differential-chart" class="col-sm-12 mt-3 info-box">
            <canvas id="differential-chart-area" height="100px"></canvas>
          </div>

          <div id="burndown-chart" class="col-sm-12 mt-3 info-box" style="display: none;">
            <canvas height="100px"></canvas>
          </div>

          <div id="upcoming-list" class="col-sm-12 mt-3 info-box" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <div class="card" id="member-accordion" data-children=".member">
        <% @members.each do |member| %>
          <div class="member <%= member.dues_status_okay? ? 'dues-on-track' : 'dues-behind' %>">
            <div class="card-header" data-toggle="collapse" data-target="#member-<%= member.id %>-info" data-parent="#member-accordion">
              <div class="row">
                <div class="col-md-4 col-lg-3">
                  <h5 class="mb-0"><%= member.full_name %></h5>
                </div>

                <div class="col-8 col-sm-9 col-md-6 col-lg-7 mt-1">
                  <div class="progress">
                    <div class="progress-bar" style="width: <%= 100 * member.amount_paid.to_f / member.total_dues.to_f %>%">
                      <%= member.amount_paid > 0 ? '$%.2f' % (member.amount_paid.to_f / 100.0) : '' %>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <p class="mb-0 font-weight-light text-right">$<%= '%.2f' % (member.total_dues.to_f / 100.0) %></p>
                </div>
              </div>
            </div>

            <div id="member-<%= member.id %>-info" class="collapse" data-parent="#member-accordion">
              <div class="row mx-3">
                <div class="col-md-6 my-3">
                  <h6>Payments</h6>
                  <div class="card" id="payment-accordion-<%= member.id %>">
                    <% member.payments.each do |payment| %>
                      <div class="card-header">
                        <%= render 'payment_type_icon', type: payment.payment_type %>
                        $<%= '%.2f' % (payment.amount / 100.0) %>

                        <small class="float-right text-muted"><%= payment.date_paid.strftime('%-m/%-d/%y') %>
                          <% unless payment.notes.blank? %>
                            <a data-toggle="collapse" href="#payment-notes-<%= payment.id %>">
                              <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue' %>
                            </a>
                          <% end %>
                        </small>
                      </div>

                      <% unless payment.notes.blank? %>
                        <div class="collapse white px-5 py-1" id="payment-notes-<%= payment.id %>">
                          <small class="text-muted"><%= payment.notes %></small>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="col-md-6 my-3">
                  <h6>Payment Schedule</h6>
                  <div class="card">
                    <% member.payment_schedule.payment_schedule_entries.each do |entry| %>
                      <div class="card-header">
                        $<%= '%.2f' % (entry.amount / 100.0) %>
                        <small class="float-right text-muted"><%= entry.pay_date.strftime('%-m/%-d/%y') %></small>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.info-tab').click(function(evt) {
        evt.preventDefault();

        $('.info-tab').removeClass('active');
        $(this).addClass('active');

        var target = $(this).attr('href');
        $('.info-box').hide();
        $(target).show();
      });

      $.getJSON('/payments/upcoming-payments', { jwt: getJWT() });
    });
  </script>
  <%= javascript_include_tag 'vue/differential_chart' %>
<% end %>