<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <%= render 'header' %>
  </div>

  <div class="row">
    <div  class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-fill nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active"  id="upcoming-tab" data-toggle="tab" href="#upcoming-list">Upcoming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="burndown-tab" data-toggle="tab" href="#burndown-chart">Burndown</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="differential-tab" data-toggle="tab"  href="#differential-chart">Differential</a>
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <div id="upcoming-list" class="tab-pane fade show active">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-striped">
                <div class="form row">
                  <div class="input-group col-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Start</span>
                    </div>
                    <input v-model="start_date" type="date" class="form-control" name="start_date">
                    <div class="input-group-prepend">
                      <span class="input-group-text">End</span>
                    </div>
                    <input v-model="end_date" type="date" class="form-control" name="end_date">
                    <div class="input-group-append">
                      <a v-on:click="filter" class="btn btn-info white-text">Filter</a>
                    </div>
                  </div>
                </div>
              </li>
              <li v-for="entry in entries" class="list-group-item">
                {{ entry.name }} - ${{ entry.amount }}
                <small class="text-muted float-right">{{ entry.pay_date }}</small>
              </li>
            </ul>
          </div>

          <div id="burndown-chart" class="tab-pane fade">
            <canvas id="burndown-chart-area" height="100px"></canvas>
          </div>

          <div id="differential-chart" class="tab-pane fade">
            <canvas id="differential-chart-area" height="100px"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h3>Member Progress</h3>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-info float-right" id="paid-toggle">Toggle Fully-Paid</button>
            </div>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <% @members.each do |member| %>
            <% status = member.dues_status_okay? %>
            <a href="#member-<%= member.id %>-info" class="payment-item list-group-item list-group-item-action list-group-item-<%= status ? 'success' : 'danger' %>" data-toggle="collapse" data-paid="<%= member.amount_paid >= member.total_dues ? 'true' : 'false' %>">
              <div class="row">
                <div class="col-6 col-md-4 col-lg-3">
                  <h5 class="mb-0"><%= member.full_name %></h5>
                </div>

                <div class="col-6 col-md-2 order-md-12">
                  <p class="mb-0 font-weight-light text-right">$<%= '%.2f' % (member.total_dues.to_f / 100.0) %></p>
                </div>

                <div class="col-12 col-md-6 col-lg-7 mt-1 order-md-1">
                  <div class="progress">
                    <div class="progress-bar <%= status ? 'green' : 'red' %>" style="width: <%= 100 * member.amount_paid.to_f / member.total_dues.to_f %>%">
                      <%= member.amount_paid > 0 ? '$%.2f' % (member.amount_paid.to_f / 100.0) : '' %>
                    </div>
                  </div>
                </div>
              </div>
            </a>

            <div id="member-<%= member.id %>-info" class="collapse white">
              <div class="row mx-3">
                <div class="col-12 my-3">
                  <a href="/payments/new?user_id=<%= member.id %>" class="pull-right btn btn-outline-<%= status ? 'success' : 'danger' %>">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
                <div class="col-md-6 my-3">
                  <%= render 'payments_made_card', member: member, status: status %>
                </div>

                <div class="col-md-6 my-3">
                  <%= render 'payment_schedule_card', member: member, status: status %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'vue/differential_chart' %>
  <%= javascript_include_tag 'vue/burndown_chart' %>
  <%= javascript_include_tag 'vue/upcoming_payments' %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#paid-toggle').click(function() {
        $('.payment-item[data-paid="true"]').toggle();
      });
    });
  </script>
<% end %>
