<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Payments</h1>
    </div>
    <div class="col-md-3 text-right-md">
      <%= link_to 'New Payment', new_payment_path, class: 'btn btn-light green-text align-middle' %>
    </div>
  </div>

  <div class="row">
    <div  class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-fill nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="differential-tab" data-toggle="tab"  href="#differential-chart">Differential</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="burndown-tab" data-toggle="tab" href="#burndown-chart">Burndown</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="upcoming-tab" data-toggle="tab" href="#upcoming-list">Upcoming</a>
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <div id="differential-chart" class="tab-pane fade show active">
            <canvas id="differential-chart-area" height="100px"></canvas>
          </div>

          <div id="burndown-chart" class="tab-pane fade">
            <canvas id="burndown-chart-area" height="100px"></canvas>
          </div>

          <div id="upcoming-list" class="tab-pane fade">
            <ul class="list-group list-group-flush">
              <li v-for="entry in entries" class="list-group-item">
                {{ entry.name }} - ${{ entry.amount }}
                <small class="text-muted float-right">{{ entry.pay_date }}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="list-group list-group-flush">
          <% @members.each do |member| %>
            <% status = member.dues_status_okay? %>
            <a href="#member-<%= member.id %>-info" class="list-group-item list-group-item-action <%= status ? 'list-group-item-success' : 'list-group-item-danger' %>" data-toggle="collapse">
              <div class="row">
                <div class="col-md-4 col-lg-3">
                  <h5 class="mb-0"><%= member.full_name %></h5>
                </div>

                <div class="col-8 col-sm-9 col-md-6 col-lg-7 mt-1">
                  <div class="progress">
                    <div class="progress-bar <%= status ? 'green' : 'red' %>" style="width: <%= 100 * member.amount_paid.to_f / member.total_dues.to_f %>%">
                      <%= member.amount_paid > 0 ? '$%.2f' % (member.amount_paid.to_f / 100.0) : '' %>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <p class="mb-0 font-weight-light text-right">$<%= '%.2f' % (member.total_dues.to_f / 100.0) %></p>
                </div>
              </div>
            </a>

            <div id="member-<%= member.id %>-info" class="collapse white">
              <div class="row mx-3">
                <div class="col-md-6 my-3">
                  <%= render 'payments_made_card', member: member, status: status %>
                </div>

                <div class="col-md-6 my-3">
                  <%= render 'payment_schedule_card', member: member, status: status %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'vue/differential_chart' %>
  <%= javascript_include_tag 'vue/burndown_chart' %>
  <%= javascript_include_tag 'vue/upcoming_payments' %>
<% end %>