<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="white-text">Payments</h1>
      </div>
      <div class="col-md-3 text-right-md">
        <%= link_to 'New Payment', new_payment_path, class: 'btn btn-light green-text align-middle' %>
      </div>
    </div>

    <div class="row">
      <div  class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <canvas id="payment-chart" height="100px"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12">
        <ul class="list-group">
          <% @payments.each do |payment| %>
            <li class="list-group-item">
              <%= render 'payment_type_icon', type: payment.payment_type %>
              <%= payment.user.first_name + ' ' + payment.user.last_name %>
              <span class="float-right">
                <% unless payment.notes.blank? %>
                  <a data-toggle="collapse" href="#payment-notes-<%= payment.id %>">
                    <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue' %>
                  </a>
                <% end %>
                &nbsp;&nbsp;&nbsp;
                $<%= '%.2f' % (payment.amount / 100.0) %>
              </span>
            </li>
            <% unless payment.notes.blank? %>
              <li class="collapse white gray-text px-5 py-1" id="payment-notes-<%= payment.id %>">
                <%= payment.notes %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'vue/payment_charts' %>
<% end %>