<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="white-text">Add Payment</h1>
      </div>
      <div class="col-md-3 text-right-md">
        <%= link_to 'All Payments', payments_path, class: 'btn btn-light green-text align-middle' %>
      </div>
    </div>
    <div class="card">
      <%= form_for @payment, html: { class: 'card-body' } do |p| %>
        <div class="row mt-3">
          <div class="col-md-5 form-group">
            <%= p.collection_select :user_id, @members, :id, :full_name, {}, { class: 'form-control select2-form-control' } %>
          </div>
          <div class="col-md-4 form-group">
            <%= p.collection_select :payment_type_id, @payment_types, :id, :name, {}, { class: 'form-control select2-form-control' } %>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= p.number_field :amount, placeholder: '0.00', step: :any, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6 form-group">
            <%= p.text_area :notes, { class: 'form-control', placeholder: 'Notes' } %>
          </div>
          <div class="col-md-6 form-group text-center">
            <%= p.submit 'Submit', class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#payment_user_id").select2({ width: '100%' });
      $("#payment_payment_type_id").select2({ width: '100%' });
    });
  </script>
<% end %>