<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <% status = current_user.dues_status_okay?(current_season['id']) %>
  <div class="row">
    <%= render 'header' %>
  </div>
  <div class="card <%= status ? 'border-success' : 'border-danger' %>">
    <div class="card-header <%= status ? 'border-success' : 'border-danger' %>">
      <div class="row">
        <div class="col-sm-12 text-center <%= status ? 'text-success' : 'text-danger' %>">
          <p class="lead">Paid $<%= '%.2f' % @total_paid %>&nbsp;&nbsp;/&nbsp;&nbsp;$<%= '%.2f' % @total_dues %> Owed
        </div>
        <div class="col-sm-12">
          <div class="progress" style="height: 30px">
            <div class="progress-bar <%= status ? 'green' : 'red' %>" role="progressbar" style="width: <%= 100 * @total_paid.to_f / @total_dues.to_f %>%"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row mt-4">
        <div class="col-md-6">
          <%= render 'payments_made_card', member: current_user, status: status %>
        </div>

        <div class="col-sm-12 mt-3 mb-3 d-md-none">
          <hr>
        </div>

        <div class="col-md-6">
          <%= render 'payment_schedule_card', member: current_user, status: status %>
        </div>
      </div>
    </div>
  </div>
<% end %>