<% content_for :styles do %>
  <%= stylesheet_link_tag 'payments', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="white-text">Payments</h1>
      </div>
      <div class="col-md-3 text-right-md">
        <a class="btn btn-light green-text align-middle" href="<%= new_payment_path %>">New Payment</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h4>You've paid: $<%= '%.2f' % (current_user.payments.sum(:amount)/100)%>
          </div>
          <div class="col-sm-6">
            <h4>Your dues are: $<%= '%.2f' % (current_user.payment_schedule_entries.sum(:amount)/100)%>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <h3>Payments Made</h3>
            <ul class="list-group">
              <% current_user.payments.order(:date_paid).each do |payment| %>
                <li class="list-group-item d-flex justify-content-between">
                  <span><%= payment.date_paid.strftime('%m/%d/%Y') %></span>
                  <span>$<%= '%.2f' % (payment.amount/100.0) %></span>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-sm-12 mt-3 mb-3 d-md-none">
            <hr>
          </div>

          <div class="col-md-6">
            <h3>Your Payment Schedule</h3>
            <ul class="list-group">
              <% current_user.payment_schedule_entries.order(:pay_date).each do |entry| %>
                <% if entry.pay_date < Date.today %>
                  <li class="list-group-item list-group-item-dark d-flex justify-content-between">
                <% else %>
                  <li class="list-group-item d-flex justify-content-between">
                <% end %>
                  <span><%= entry.pay_date.strftime('%m/%d/%Y') %></span>
                  <span>$<%= '%.2f' % (entry.amount/100.0) %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>