<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1>Inventory</h1>
    </div>
    <div class="col-md-3 text-right-md mb-1">
      <%= link_to new_inventory_category_path, class: 'btn btn-light mt-1' do %>
        <span class="d-none d-sm-inline">New Category</span>
        <span class="d-sm-none"><i class="fas fa-plus"></i></span>
      <% end %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <ul class="list-group list-group-flush">
          <% @categories.each do |category| %>
            <li class="list-group-item list-group-item-action">
              <a href="<%= inventory_category_path(category) %>" class="d-flex w-100 justify-content-between text-body">
                <span class="text-body"><%= category.name %></span>
                <span class="float-right">
                  <div class="dropdown">
                    <button id="dropdown-<%= category.id %>" class="btn btn-outline-secondary btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-<%= category.id %>">
                      <%= link_to 'View Details', inventory_category_path(category), class: 'dropdown-item' %>
                      <%= link_to 'Edit Info', edit_inventory_category_path(category), class: 'dropdown-item' %>
                    </div>
                  </div>
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
