<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <h1><%= @category.name %></h1>
    <div>
      <%= link_to new_inventory_category_item_path(@category), class: 'btn btn-light' do %>
        <span class="d-none d-sm-inline">New Item</span>
        <span class="d-sm-none"><i class="fas fa-plus"></i></span>
      <% end %>
      <%= link_to 'Edit', edit_inventory_category_path(@category), class: 'btn btn-light' %>
      <%= link_to 'Back', inventory_categories_path, class: 'btn btn-light' %>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <ul class="list-group list-group-flush">
        <% @category.items.each do |item| %>
          <li class="list-group-item list-group-item-action">
            <%= link_to edit_inventory_category_item_path(@category, item), class: 'd-flex w-100 justify-content-between' do %>
              <span class="text-body"><%= item.name %></span>
              <span class="text-muted"><%= item.quantity %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
