<div class="card">
  <%= form_for @user, url: url do |u| %>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 mt-3 form-group">
          <%= u.text_field :first_name, { class: 'form-control', placeholder: 'First Name' } %>
        </div>
        <div class="col-md-6 mt-3 form-group">
          <%= u.text_field :last_name, { class: 'form-control', placeholder: 'Last Name' } %>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6 mt-3 form-group">
          <%= u.text_field :username, { class: 'form-control', placeholder: 'Username' } %>
          <%= u.text_field :email, { class: 'form-control mt-3', placeholder: 'Email' } %>
          <%= u.text_field :phone, { class: 'form-control mt-3', placeholder: 'Phone' } %>
          
        </div>
        <div class="col-md-6 mt-3 form-group">
          <%= u.password_field :password, { class: 'form-control', placeholder: 'Password' } %>
          <%= u.password_field :password_confirmation, { class: 'form-control mt-3', placeholder: 'Password Confirmation' } %>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-4 form-group">
          <%= u.label :role_id, 'Role' %>
          <%= u.collection_select :role_id, Role.all.reverse_order, :id, :name, {}, { class: 'form-control' } %>
        </div>

        <div class="col-md-4 form-group">
          <label>Seasons with Cap</label>
          <% Season.all.each do |s| %>
            <% users_section = @user.seasons_users.find_by_season_id(s.id)&.section %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><%= s.year %></span>
              </div>
              <select class="custom-select" name="section_<%= s.year %>" id="section-<%= s.year %>">
                <option value=""></option>
                <% %w(Snare Tenors Bass Cymbals Woods Metals Auxiliary Electronics Visual).each do |current_section| %>
                  <option value="<%= current_section %>" <%= 'selected' if users_section == current_section %>><%= current_section %></option>
                <% end %>
              </select>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row justify-content-center">
        <%= u.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>
