<%= vite_typescript_tag 'entrypoints/admin/users/edit.tsx' %>

<div class="flex flex-col">
  <h1>Edit <%= @user.full_name %></h1>
  <%= form_for @user, url: admin_user_path(@user) do |f| %>
    <h2>Basic Info</h2>
    <div class="grid grid-cols-5 gap-x-6 gap-y-4">
      <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
        <%= f.label :first_name, 'Name', class: 'input-label' %>
      </div>
      <div class="col-span-5 sm:col-span-2 -mb-2 sm:mb-0 flex items-center">
        <%= f.text_field :first_name, autofocus: true, placeholder: 'First', class: 'input-text' %>
      </div>
      <div class="col-span-5 sm:col-span-2 flex items-center">
        <%= f.text_field :last_name, placeholder: 'Last', class: 'input-text' %>
      </div>

      <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
        <%= f.label :username, class: 'input-label' %>
      </div>
      <div class="col-span-5 sm:col-span-4">
        <%= f.text_field :username, class: 'input-text' %>
      </div>

      <div class="col-span-5 sm:col-span-1 -mb-2 sm:mb-0 flex items-center">
        <%= f.label :email, class: 'input-label' %>
      </div>
      <div class="col-span-5 sm:col-span-4">
        <%= f.text_field :email, class: 'input-text' %>
      </div>
    </div>
    <h2>Roles</h2>
    <div id="roles-section">
    </div>

    <div class="mt-4 flex flex-row justify-end">
      <%= f.submit class: 'btn-primary btn-lg' %>
    </div>
  <% end %>
</div>