<div class="flex flex-col">
  <h1>New User</h1>

  <%= form_with(model: [:admin, @user]) do |f| %>
    <h2 class="text-2xl mt-2 mb-2">Basic Info</h2>
    <div class="grid grid-cols-5 gap-x-6 gap-y-4">
      <div class="col-span-5 sm:col-span-1 flex items-center">
        <%= f.label :first_name, 'Name', class: 'input-label' %>
      </div>
      <div class="col-span-5 sm:col-span-2 flex items-center">
        <%= f.text_field :first_name, autofocus: true, placeholder: 'First', class: 'input-text' %>
      </div>
      <div class="col-span-5 sm:col-span-2 flex items-center">
        <%= f.text_field :last_name, placeholder: 'Last', class: 'input-text' %>
      </div>

      <div class="col-span-5 sm:col-span-1 flex items-center">
        <%= f.label :email, 'Email', class: 'input-label' %>
      </div>
      <div class="col-span-5 sm:col-span-4">
        <%= f.text_field :email, class: 'input-text' %>
      </div>

      <div class="col-span-5 sm:col-span-1 flex items-center">
        <%= f.label :password, 'Password', class: 'input-label' %>
      </div>
      <div class="col-span-5 sm:col-span-4">
        <%= f.text_field :password, class: 'input-text' %>
      </div>
    </div>

    <div class="mt-5">
      <h2>Roles</h2>
    </div>

    <table class="min-w-full divide-y divide-gray-500">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Seasons
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Role
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Ensemble
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Section
          </th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :seasons_users do |r| %>
          <tr>
            <td class="text-sm px-6 py-3">
              <%= r.label :_destroy, class: 'input-toggle-wrapper' do %>
                <%= r.check_box :_destroy, class: 'input-toggle' %>
                <div class="input-toggle-bg input-toggle-bg"></div>
                <div class="input-toggle-dot"></div>
                <div class="ml-3 input-label">
                  <%= @seasons[r.index].year %>
                </div>
              <% end %>
              <%= r.hidden_field(:season, value: r.object.season_id) %>
            </td>
            <td class="text-sm px-6 py-3">
              <%= r.select(:role, %w[member staff coordinator admin], { prompt: 'None' }, { class: 'input-select' }) %>
            </td>
            <td class="text-sm px-6 py-3">
              <%= r.select(:ensemble, %w[World CC2], { prompt: 'None' }, { class: 'input-select' }) %>
            </td>
            <td class="text-sm px-6 py-3">
              <%= r.select(:section, %w[Snares Tenors Basses Cymbals Woods Metals Electronics Auxiliary Visual], { prompt: 'None' }, { class: 'input-select' }) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="mt-4 flex flex-row justify-end">
      <%= f.submit 'Save', class: 'btn-primary' %>
    </div>
  <% end %>
</div>
