<% content_for :styles do %>
  <%= stylesheet_link_tag 'payment_schedules', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Payment Schedule for <%= @user.first_name %></h1>
    </div>
    <div class="col-md-3 text-right-md">
      <a class="btn btn-light" href="<%= users_path %>">Back to Users</a>
    </div>
  </div>
  <div class="card" id="payment-schedule">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="(entry, index) in schedule.entries">
        <div class="form-inline d-flex justify-content-between">
          <span>
            <select class="form-control" v-model="entry.year">
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
            </select>
            <select class="form-control" v-model="entry.month">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <select class="form-control" v-model="entry.date">
              <option value="01">1</option>
              <option value="02">2</option>
              <option value="03">3</option>
              <option value="04">4</option>
              <option value="05">5</option>
              <option value="06">6</option>
              <option value="07">7</option>
              <option value="08">8</option>
              <option value="09">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </span>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="number" v-model="entry.amount">
          </div>
          <span><i class="fa fa-trash-o icon-btn icon-btn-red" @click="removeEntry(entry.id, index)"></i></span>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <div class="row text-center">
        <div class="col-12">
          <h4><span class="text-muted font-weight-light">Total </span>${{ schedule.entries.reduce(function(sum, e) { return sum + +e.amount; }, 0) }}  </h4>
        </div>
      </div>
      <div class="row mt-2 text-center">
        <div class="col-6">
          <div class="btn btn-info" @click="addEntry()">Add Entry</div>
        </div>
        <div class="col-6">
          <div class="btn btn-success" @click="saveSchedule()">Save</div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    var schedule_id = <%= @schedule.id %>;
    var user_id = <%= @user.id %>;
  </script>
  <%= javascript_include_tag 'vue/payment_schedules' %>
<% end %>