<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <%= link_to 'Users', users_path, { class: 'nav-link' } %>
  </li>
  <li class="nav-item">
    <%= link_to 'Conflicts', conflicts_path, { class: 'nav-link' } %>
  </li>
  <li class="nav-item">
    <%= link_to 'Payments', payments_path, { class: 'nav-link' } %>
  </li>
  <li class="nav-item">
    <%= link_to 'Documents', '/documents', { class: 'nav-link' } %>
  </li>
  <%
  #<li class="nav-item">
    # <%= link_to 'Feed', '/feed', { class: 'nav-link' } %>
  # </li>
  %>
</ul>
<ul class="navbar-nav navbar-right">
  <li class="nav-item dropdown">
    <a class="btn btn-outline-light dropdown-toggle mr-3" href="#" id="season-dropdown" data-toggle="dropdown">
      <%= current_season['year'] %>
    </a>
    <div class="dropdown-menu" aria-labelledby="season-dropdown">
      <% current_user.seasons.reverse.each do |s| %>
        <%= form_tag '/change-season', method: :post do %>
          <%= hidden_field_tag :season_id, s.id %>
          <%= submit_tag "#{s.year}", class: 'dropdown-item' %>
        <% end %>
      <% end %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to '/settings', { class: 'nav-link mr-3' } do %>
      <%= fa_icon 'cogs' %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'Log Out', '/logout', { class: 'btn btn-outline-light' } %>
  </li>
</ul>
