<div class="card <%= status ? 'border-success' : 'border-danger' %>" id="payment-accordion-<%= member.id %>">
  <div class="card-header <%= status ? 'border-success' : 'border-danger' %>">Payments Made</div>
  <ul class="list-group list-group-flush">
    <% member.payments_for(current_season['id']).order(:date_paid).each do |payment| %>
      <li class="list-group-item list-group-item-striped">
        <%= render 'payment_type_icon', type: payment.payment_type %>
        $<%= '%.2f' % (payment.amount / 100.0) %>

        <small class="float-right text-muted"><%= payment.date_paid.strftime('%-m/%-d/%-y') %>
          <% unless payment.notes.blank? %>
            <a data-toggle="collapse" href="#payment-notes-<%= payment.id %>">
              <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue' %>
            </a>
          <% end %>
        </small>

        <% unless payment.notes.blank? %>
          <div class="collapse px-3 py-1" id="payment-notes-<%= payment.id %>">
            <small class="text-muted"><%= payment.notes %></small>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>