<div class="card" id="payment-accordion-<%= member.id %>">
  <h5 class="card-header d-flex justify-content-between align-items-center">
    Payments Made
    <% nine_volts = current_user.nine_volts.where(season_id: current_season['id']) %>
    <span>
      <% if nine_volts&.first&.turned_in %>
        <span class="text-success"><i class="fas fa-battery-full fa-rotate-270"></i></span>
      <% else %>
        <span class="text-muted"><i class="fas fa-battery-full"></i></span>
      <% end %>

      <% if admin %>
        <%= link_to "#{new_admin_payment_path}?user_id=#{member.id}", class: 'btn btn-sm btn-outline-secondary ml-4' do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </span>
  </h5>
  <ul class="list-group list-group-flush">
    <% member.payments_for(current_season['id']).sort_by(&:date_paid).each do |payment| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <span>
            <% if payment.payment_type.name == 'Cash' %>
              <i class="fas fa-money-bill text-muted mr-1"></i>
            <% elsif payment.payment_type.name == 'Stripe' %>
              <i class="fas fa-credit-card text-muted mr-1"></i>
            <% elsif payment.payment_type.name == 'Check' %>
              <i class="fas fa-money-check text-muted mr-1"></i>
            <% elsif payment.payment_type.name == 'Square - Pos' %>
              <i class="fas fa-square text-muted mr-1"></i>
            <% elsif payment.payment_type.name == 'Square - Cash App' %>
              <i class="fas fa-square text-muted mr-1"></i>
            <% elsif payment.payment_type.name == 'Venmo' %>
              <i class="fab fa-vimeo-square text-muted mr-1"></i>
            <% else %>
              <i class="fas fa-question text-muted mr-1"></i>
            <% end %>

            $<%= '%.2f' % (payment.amount / 100.0) %>
          </span>

          <small class="float-right text-muted"><%= payment.date_paid.strftime('%-m/%-d/%-y') %>
            <% unless payment.notes.blank? %>
              <a data-toggle="collapse" href="#payment-notes-<%= payment.id %>">
                <i class="far fa-comment dark-text icon-btn icon-btn-blue"></i>
              </a>
            <% end %>
          </small>
        </div>

        <% unless payment.notes.blank? %>
          <div class="collapse px-3 py-1" id="payment-notes-<%= payment.id %>">
            <small class="text-muted"><%= payment.notes %></small>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>