<div class="card <%= status ? 'border-success' : 'border-danger' %>" id="payment-accordion-<%= member.id %>">
  <div class="card-header <%= status ? 'border-success' : 'border-danger' %>">Payments Made</div>
  <ul class="list-group list-group-flush">
    <% member.payments_for(current_season['id']).sort_by(&:date_paid).each do |payment| %>
      <li class="list-group-item list-group-item-striped">
        <% if payment.payment_type.name == 'Cash' %>
          <%= fa_icon 'money', class: 'gray-text' %>
        <% elsif payment.payment_type.name == 'Stripe' %>
          <%= fa_icon 'credit-card', class: 'gray-text' %>
        <% elsif payment.payment_type.name == 'Check' %>
          <%= fa_icon 'university', class: 'gray-text' %>
        <% elsif payment.payment_type.name == 'Square - Pos' %>
          <%= fa_icon 'square-o', class: 'gray-text' %>
        <% elsif payment.payment_type.name == 'Square - Cash App' %>
          <%= fa_icon 'square-o', class: 'gray-text' %>
        <% elsif payment.payment_type.name == 'Venmo' %>
          <%= fa_icon 'users', class: 'gray-text' %>
        <% else %>
          <%= fa_icon 'question', class: 'gray-text' %>
        <% end %>

        $<%= '%.2f' % (payment.amount / 100.0) %>

        <small class="float-right text-muted"><%= payment.date_paid.strftime('%-m/%-d/%-y') %>
          <% unless payment.notes.blank? %>
            <a data-toggle="collapse" href="#payment-notes-<%= payment.id %>">
              <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue' %>
            </a>
          <% end %>
        </small>

        <% unless payment.notes.blank? %>
          <div class="collapse px-3 py-1" id="payment-notes-<%= payment.id %>">
            <small class="text-muted"><%= payment.notes %></small>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>