<div class="card">
  <%= form_for conflict do |c| %>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 form-group">
          <%= c.collection_select :user_id, @members, :id, :full_name, {}, { class: 'form-control select2-form-control' } %>
        </div>
        <div class="col-sm-6 form-group">
          <%= c.collection_select :status_id, ConflictStatus.all.order(:name), :id, :name, {}, { class: 'form-control' } %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <%= c.label :start_date, 'Start' %>
              <%= c.datetime_field :start_date, { class: 'form-control mr-2 mb-2' } %>
              <hr class="mt-3 d-md-none">
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <%= c.label :end_date, 'End' %>
              <%= c.datetime_field :end_date, { class: 'form-control mr-2 mb-2' } %>
              <hr class="mt-3 d-md-none">
            </div>
            <div class="col-lg-4 form-group">
              <%= c.text_area :reason, { class: 'form-control mr-2 mb-2', placeholder: 'Reason for Absence' } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-12 form-group text-center">
          <%= c.submit 'Submit', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  <% end %>
</div>