<div class="row">
  <div class="col-12">
    <div class="card border-warning">
      <div class="card-header border-warning text-warning"><h4 class="mb-0">Pending Conflicts</h4></div>
      <div class="list-group list-group-flush border-warning">
        <% pending.each do |conflict| %>
          <div class="list-group-item list-group-item-striped container">
            <div class="row">
              <div class="col-md-3"><%= conflict.user.full_name %></div>
              <div class="col-md-3 col-lg-5">
                <span class="font-weight-light text-muted"><span><%= conflict.start_date.strftime('%a, %-m/%-d %I:%M %p') %></span> - <%= conflict.end_date.strftime('%a, %-m/%-d %I:%M %p') %></span>
              </div>
              <div class="col-md-1">
                <a data-toggle="collapse" href="#conflict-reason-<%= conflict.id %>">
                  <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue' %>
                </a>
              </div>

              <div class="col-md-5 col-lg-3">
                <%= form_for conflict, { method: :put, html: { class: 'form-inline d-flex justify-content-between' } } do |c| %>
                  <%= c.collection_select :status_id, ConflictStatus.all, :id, :name, {}, { class: 'form-control w-50' } %>
                  <%= c.submit 'Update', class: 'btn btn-success w-40' %>
                <% end %>
              </div>
              <div class="col-12 collapse px-3 py-1" id="conflict-reason-<%= conflict.id %>">
                <small class="text-muted"><%= conflict.reason %> <span class="dark-text">(Submitted: <%= conflict.created_at.strftime('%a, %-m/%-d %I:%M %p') %>)</span></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>