<div class="list-group-item list-group-item-striped">
  <div class="row">
    <div class="col-6 col-md-3">
      <%= conflict.user.full_name %>
    </div>
    <div class="col-6 col-md-3 order-md-9 text-right">
      <a data-toggle="collapse" href="#conflict-reason-<%= conflict.id %>" class="mr-3">
        <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue' %>
      </a>
      <a href="<%= edit_conflict_path(conflict) %>" class="mr-3">
        <%= fa_icon 'pencil', class: 'icon-btn icon-btn-orange dark-text' %>
      </a>
      <%= render 'conflict_status_icon', status: conflict.status %>
    </div>
    <div class="col-md-6 order-md-3 font-weight-light text-muted">
      <%= conflict.start_date.strftime('%a, %-m/%-d %I:%M %p') %> - <%= conflict.end_date.strftime('%a, %-m/%-d %I:%M %p') %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 collapse px-5 py-1" id="conflict-reason-<%= conflict.id %>">
      <small class="text-muted"><%= conflict.reason %> <span class="dark-text">(Submitted: <%= conflict.created_at.strftime('%a, %-m/ %-d %I:%M %p') %>)</span></small>
    </div>
  </div>
</div>