<% content_for :styles do %>
  <%= stylesheet_link_tag 'conflicts', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Conflicts</h1>
    </div>
    <div class="col-md-3 text-right-md">
      <%= link_to 'New Conflict', new_conflict_path, class: 'btn btn-light red-text align-middle' %>
    </div>
  </div>

  <% unless @pending.empty? %>
    <%= render 'admin_pending_conflicts', pending: @pending %>
  <% end %>

  <% @conflicts_by_start_date.each do |date, conflicts| %>
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header"><h4 class="mb-0"><%= date.strftime('%A, %B %d') %></h4></div>
          <ul class="list-group list-group-flush">
            <% conflicts.each do |conflict| %>
              <li class="list-group-item d-flex justify-content-between">
                <%= conflict.user.full_name %>
                <span class="font-weight-light text-muted">
                  <%= conflict.start_date.strftime('%-m/%-d/%y %I:%M %p') %> - <%= conflict.end_date.strftime('%-m/%-d/%y %I:%M %p') %>
                </span>
                <span>
                  <a data-toggle="collapse" href="#conflict-reason-<%= conflict.id %>">
                    <%= fa_icon 'comment-o', class: 'dark-text icon-btn icon-btn-blue mr-3' %>
                  </a>
                </span>
                <span>
                  <%= render 'conflict_status_icon', status: conflict.status %>
                </span>
              </li>
              <% unless conflict.reason.blank? %>
                <div class="collapse white gray-text font-weight-light px-5 py-1" id="conflict-reason-<%= conflict.id %>">
                  <%= conflict.reason %>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :scripts do %>
<% end %>