<!DOCTYPE html>
<html>
  <head>
    <title>Cap City Percussion</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id="toast-container"></div>
    <div class="container-fluid pb-3">

      <div class="row flex-xl-nowrap">
        <!-- SIDE NAV -->
        <div class="col-12 col-md-2 sidenav">
          <ul class="nav flex-row flex-md-column">
            <li class="nav-item">
              <div class="nav-link brand">
                <%= image_pack_tag 'full_logo_small_black.png', size: '144x50', class: 'd-none d-lg-block' %>
                <%= image_pack_tag 'cc_black_brand.png', size: '25x32', class: 'd-lg-none' %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to root_path, { class: 'nav-link' } do %>
                <i class="fas fa-fw fa-home mr-2"></i>
                <span class="d-none d-md-inline">Home</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_users_path, { class: 'nav-link' } do %>
                <i class="fas fa-fw fa-users mr-2"></i>
                <span class="d-none d-md-inline">Users</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_conflicts_path, { class: 'nav-link' } do %>
                <i class="fas fa-fw fa-calendar-times mr-2"></i>
                <span class="d-none d-md-inline">Conflicts</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_payments_path, { class: 'nav-link' } do %>
                <i class="fas fa-fw fa-dollar-sign mr-2"></i>
                <span class="d-none d-md-inline">Payments</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to documents_path, { class: 'nav-link' } do %>
                <i class="fas fa-fw fa-file-alt mr-2"></i>
                <span class="d-none d-md-inline">Documents</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to inventory_categories_path, { class: 'nav-link' } do %>
                <i class="fas fa-fw fa-exchange-alt mr-2"></i>
                <span class="d-none d-md-inline">Inventory</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_calendars_path, { class: 'nav-link' } do %>
                <i class="fa fa-credit-card mr-2"></i>
                <span class="d-none d-md-inline">Calendars</span>
              <% end %>
            </li>
          </ul>
        </div>

        <!-- MAIN WINDOW -->
        <div class="col-12 col-md-10">

          <!-- TOP NAV -->
          <nav class="navbar navbar-expand-md navbar-light topnav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex" id="navbar-content">
              <div id="omni-bar">
                <omni-bar />
              </div>
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                  <%= link_to settings_path, { class: 'nav-link mr-3' } do %>
                    <span class="d-none d-md-inline"><i class="fas fa-cogs"></i></span>
                    <span class="d-md-none">Settings</span>
                  <% end %>
                </li>
                <li class="nav-item dropdown">
                  <a class="btn btn-outline-dark dropdown-toggle mr-3" href="#" id="season-dropdown" data-toggle="dropdown">
                    <%= current_season ? current_season['year'] : '???' %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="season-dropdown">
                    <% Season.all.reverse.each.with_index do |s, i| %>
                      <% if i == 0 %>
                        <h6 class="dropdown-header">Current</h6>
                      <% elsif i == 1 %>
                        <h6 class="dropdown-header">Past</h6>
                      <% end %>
                      <%= form_tag(change_season_path, method: :post) do %>
                        <%= hidden_field_tag :season_id, s.id, { id: "season_id_#{s.id}" } %>
                        <%= submit_tag "#{s.year}", class: 'dropdown-item' %>
                      <% end %>
                    <% end %>
                  </div>
                </li>
                <li class="nav-item">
                  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
                </li>
              </ul>

            </div>
          </nav>

          <!-- FLASH MESSAGES AND TOASTS -->
          <%= render 'flashes' %>

          <!-- CONTENT -->
          <main class="col-12 p-3" id="main-content">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>

    <%= yield :scripts %>
  </body>
</html>
