<!DOCTYPE html>
<html>
  <head>
    <title>Cap City Percussion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= yield :styles %>
  </head>
  <body>
    <ul id="navbar" class="nav cap-gray white-text">
      <%= yield :nav %>
    </ul>

    <div id="top-space"></div>

    <div class="container">
      <% if flash[:success] %>
        <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
      <% end %>

      <% if flash[:info] %>
        <div class="alert alert-info" role="alert"><%= flash[:info] %></div>
      <% end %>
    </div>

    <%= yield :main %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :scripts %>
  </body>
</html>