<!DOCTYPE html>
<html>
  <head>
    <title>Cap City Percussion</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-sound-wave">
    <% if flash.present? %>
      <%= render 'flashes' %>
    <% end %>

    <div class="flex items-center justify-center h-screen pt-2">
      <main class="bg-white rounded-md shadow-lg p-4">
        <%= yield %>
      </main>
    </div>

    <%= yield :scripts %>
  </body>
</html>
