<!DOCTYPE html>
<html>
  <head>
    <title>Cap City Percussion</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= yield :styles %>

  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-lg cap-gray">
      <a class="navbar-brand" href="/">
        <%= image_tag 'cc_white_brand.png', size: '25x32' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <% if is? 'admin' %>
          <%= render 'admin_nav' %>
        <% elsif is? 'staff' %>
          <%= render 'staff_nav' %>
        <% elsif is? 'member' %>
          <%= render 'member_nav' %>
        <% end %>
      </div>
    </nav>

    <%= render 'flashes' %>

    <div id="top-space"></div>

    <div class="container pb-3">
      <%= yield :main %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :scripts %>
  </body>
</html>
