<!DOCTYPE html>
<html>
  <head>
    <title>Cap City Percussion</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="cap-gray">
    <div class="bg">
      <div class="banner-container">
        <img src="<%= vite_asset_path 'images/full_logo_white.png' %>">
      </div>
    </div>

    <main class="md:flex flex-1 flex-col h-full">
      <%= yield :main %>
    </main>

    <%= yield :scripts %>
  </body>
</html>
