<!DOCTYPE html>
<html>
  <head>
    <title>Cap City Percussion</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="cap-gray">
    <div class="bg">
      <div class="banner-container">
        <img src="<%= vite_asset_path 'images/full_logo_white.png' %>">
      </div>
    </div>

    <main class="col-12 p-3" id="main-content">
      <%= yield :main %>
    </main>

    <%= vite_typescript_tag 'entrypoints/calendars/new.tsx' %>

    <%= yield :scripts %>
  </body>
</html>
